/** @format */

.background {
	width: 100vw;
	height: 100vh;
	position: relative;
	background-color: black;
}

.background__link {
	display: flex;
	justify-content: center;
	align-content: center;
}
.background__link a {
	display: flex;
	position: absolute;
	bottom: 500px;
	border-radius: 25px;
	width: 450px;
	padding: 30px;
	box-shadow: 10px 5px 5px rgb(131, 130, 130);
	animation: welcome 2.5s ease-in-out infinite;
}
.background__link h1 {
	font-size: 30px;
	font-style: italic;
	font-weight: 600;
	letter-spacing: 2px;
	opacity: 83%;
}
.welcome {
	position: absolute;
	bottom: 53px;
	left: 30px;
}
.niboo {
	position: absolute;
	right: 30px;
	bottom: 18px;
}
.background__link a:link {
	color: cornflowerblue;
}
.background__link a:visited {
	color: cornflowerblue;
}
.background__link a:hover {
	color: tomato;
}
.background__link a:active {
	color: teal;
}
@keyframes welcome {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(20px);
	}
	to {
		transform: translateY(0px);
	}
}
